<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Creation</title>

    <%# google fonts links for the navbar %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <%# local css link %>
    <link rel="stylesheet" href="styles/main.css" />
</head>
<body>
    
<%- include('partials/header.ejs'); %>



<div class="grid-container">

    <form action="/submit" method="post" id="grid-post-form">
        
        <h1 class="montserrat-verylight">New post</h1>
        <input name="PostAuthor" type="text" id="form-title" placeholder="Post Author">
        <input name="PostTitle" type="text" id="form-title" placeholder="Post Title">
        <textarea name="PostContent" id="form-text-area" placeholder="Post Content" rows="10"></textarea>
        <input type="submit" class="form-submit-button montserrat-medium" value="Submit">
    </form>

</div>

</body>

<%- include('partials/footer.ejs'); %>

</html>